absl-py==1.4.0
addict==2.4.0
aiofiles==22.1.0
aiohttp==3.8.4
aiohttp-retry==2.8.3
aiosignal==1.3.1
aiosqlite==0.18.0
albumentations==1.3.0
amqp==5.1.1
antlr4-python3-runtime==4.9.3
anyio==3.6.2
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
astunparse==1.6.3
async-timeout==4.0.2
asyncssh==2.13.0
atpublic==3.1.1
attrs==22.2.0
Babel==2.11.0
backcall==0.2.0
backoff==1.10.0
beautifulsoup4==4.11.2
billiard==3.6.4.0
bleach==6.0.0
cachetools==5.3.0
celery==5.2.7
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.0.1
cliar==1.3.5
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.6
comm==0.1.2
configobj==5.0.8
contourpy==1.0.7
cryptography==39.0.1
cuda-python==12.0.0
cycler==0.11.0
Cython==0.29.33
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
dictdiffer==0.9.0
dicttoxml==1.7.16
diskcache==5.4.0
distro==1.8.0
docker-pycreds==0.4.0
dpath==2.1.4
dulwich==0.21.2
dvc==2.44.0
dvc-data==0.39.3
dvc-http==2.30.2
dvc-objects==0.19.3
dvc-render==0.1.1
dvc-studio-client==0.4.0
dvc-task==0.1.11
dvclive==2.0.2
executing==1.2.0
fastjsonschema==2.16.2
filelock==3.9.0
flatbuffers==23.3.3
flatten-dict==0.4.2
flufl.lock==7.1.1
foliant==1.0.13
fonttools==4.38.0
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2023.1.0
funcy==1.18
gast==0.4.0
gdown==4.6.3
geojson==3.0.0
gitdb==4.0.10
GitPython==3.1.30
google-api-core==2.11.0
google-auth==2.16.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.58.0
grandalf==0.8
grpcio==1.51.1
h5py==3.8.0
hydra-core==1.3.1
idna==3.4
imageio==2.25.1
imagesize==1.4.1
imutils==0.5.4
IProgress==0.4
ipykernel==6.21.1
ipython==8.7.0
ipython-genutils==0.2.0
ipywidgets==8.0.4
isoduration==20.11.0
iterative-telemetry==0.0.7
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
json5==0.9.11
jsonpointer==2.3
jsonschema==4.17.3
jupyter-events==0.5.0
jupyter-ydoc==0.2.2
jupyter_client==8.0.2
jupyter_core==5.2.0
jupyter_server==2.2.1
jupyter_server_fileid==0.6.0
jupyter_server_terminals==0.4.4
jupyter_server_ydoc==0.6.1
jupyterlab==3.6.1
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
jupyterlab_server==2.19.0
jupyterthemes==0.20.0
keras==2.10.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
kombu==5.2.4
labelbox==3.37.0
lesscpy==0.15.1
libclang==15.0.6.1
lxml==4.9.2
Markdown==3.4.1
markdown-it-py==2.1.0
MarkupSafe==2.1.2
matplotlib==3.7.0
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==2.0.5
MoVi @ git+https://github.com/bionicvisionlab/mouse-vision@69bbc40e160d035076ebc0febbdab35c96ab4907
multidict==6.0.4
nanotime==0.5.2
nbclassic==0.5.1
nbclient==0.7.2
nbconvert==7.2.9
nbformat==5.7.3
ndjson==0.3.1
nest-asyncio==1.5.6
networkx==3.0
notebook==6.5.2
notebook_shim==0.2.2
numpy==1.24.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauthlib==3.2.2
omegaconf==2.3.0
onnx==1.13.0
onnx-simplifier==0.4.17
opencv-contrib-python==4.7.0.68
opencv-python==4.7.0.68
opencv-python-headless==4.7.0.68
opt-einsum==3.3.0
orjson==3.8.6
packaging==23.0
pandas==1.5.3
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.11.0
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
platformdirs==3.0.0
ply==3.11
prometheus-client==0.16.0
prompt-toolkit==3.0.29
protobuf==3.19.6
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.6
pycparser==2.21
pydantic==1.10.4
pydot==1.4.2
pyGeoTile==1.0.6
pygit2==1.11.1
Pygments==2.14.0
pygtrie==2.5.0
pyparsing==3.0.9
pyproj==3.4.1
pyrsistent==0.19.3
PySocks==1.7.1
python-dateutil==2.8.2
python-json-logger==2.0.4
python-version==0.0.2
pytz==2022.7.1
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==25.0.0
qudida==0.0.4
requests==2.28.2
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.3.1
rsa==4.9
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
scikit-image==0.19.3
scikit-learn==1.2.1
scipy==1.10.1
scmrepo==0.1.9
seaborn==0.12.2
Send2Trash==1.8.0
sentry-sdk==1.15.0
setproctitle==1.3.2
shapely==2.0.1
shortuuid==1.0.11
shtab==1.5.8
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.3.2.post1
spacy-lookups-data==1.0.3
sqltrie==0.0.28
stack-data==0.6.2
tabulate==0.9.0
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.2.0
terminado==0.17.1
thop==0.1.1.post2209072238
threadpoolctl==3.1.0
tifffile==2023.2.3
tinycss2==1.2.1
tomli==2.0.1
tomlkit==0.11.6
torch==1.13.1
torchaudio==0.13.1
torchvision==0.14.1
tornado==6.2
tqdm==4.64.1
traitlets==5.9.0
typeguard==2.13.3
typing_extensions==4.4.0
uri-template==1.2.0
urllib3==1.26.14
vine==5.0.0
voluptuous==0.13.1
Wand==0.6.11
wandb==0.13.10
wcwidth==0.2.6
webcolors==1.12
webencodings==0.5.1
websocket-client==1.5.1
Werkzeug==2.2.2
widgetsnbextension==4.0.5
wrapt==1.15.0
y-py==0.5.5
yarl==1.8.2
ypy-websocket==0.8.2
zc.lockfile==2.0
